html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{
    scroll-behavior: smooth;
}
p{
    line-height: 1rem;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* INIT */

:root{
    /* :root{--test: pink;} body{background-color: var(--test);} */

    /* color */
    --colorText1: #031014;
    --colorText2: #071F28;
    --colorBtn1: #1A7D9F;
    --colorBtn2: #1A5C9F;
    --colorBg1: #F4F9FA;
    --colorBg2: #E2EFF3;

    /* font */
    --fontText: 'Roboto', sans-serif;
    --fontTitle: 'Nunito', sans-serif;

    /* size */
    --heightNav: 40px;
}
body, html{
    margin: 0;
    padding: 0;
    font-family: var(--fontText);
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--fontTitle);
    font-weight: 500;
}
a{
    text-decoration: none;
    color: inherit;
}

/* END INT */


/* NAV */

.navbar{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
    background-color: var(--colorBg2);
    box-shadow: inset 0 -3px 5px 0 rgba(0, 0, 0, 0.15),
                0 3px 4px rgba(0, 0, 0, 0.25);
    color: var(--colorBtn1);
    height: var(--heightNav);
    overflow: hidden;
    z-index: 500;
}
.navbar-title{
    margin-left: 15px;
    font-size: 1.2rem;
    text-transform: uppercase;
    white-space: nowrap;
}
.navbar-burger{
    margin-right: 15px;
    font-size: 1.2rem;
    line-height: var(--heightNav);
    position: absolute;
    right: 0;
    display: block;
    cursor: pointer;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease; 
}
.navbar-burger:hover{
    opacity: 0.6;
}
.navbar-menu{
    margin-right: 15px;
    height: 100%;
    position: relative;
    right: -100vw;
    top: -100px;
    visibility: hidden;
    opacity: 0;

    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; 
}
.navbar-menu li{
    list-style: none;
    font-size: 1rem;
    font-weight: 300px;
    font-family: var(--fontTitle);
    color: var(--colorBtn1);
    opacity: 0.75;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
    padding: 0 10px;

    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease; 
}
.navbar-menu li:hover{
    opacity: 1;
}
#toggle {
    display: none;
}
#toggle:checked + .navbar-menu {
    position: absolute;
    display: block;
    visibility: visible;
    opacity: 1;
    width: 100%;
    top: var(--heightNav);
    left: 0;
}
#toggle:checked + .navbar-menu li{
    height: var(--heightNav);
    text-align: center;
    line-height: var(--heightNav);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
    background-color: var(--colorBg1);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);

    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; 
}
#toggle:checked + .navbar-menu li:hover{
    box-shadow: inset 0 0 5px -1px rgba(0,0,0,.8);
}

/* END NAV */




/* MEDIA */

@media only screen and (min-width: 768px) {
    .navbar-menu{
        display: -webkit-box;
        display: flex;
        top: 0;
        right: 0;
        -webkit-box-align: center;
                align-items: center;
        visibility: visible;
        opacity: 1!important;
    }
    #toggle:checked + .navbar-menu {
        position: relative;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: end;
                justify-content: flex-end;
        width: auto;
        top: 0;
        right: 0px;
    }
    #toggle:checked + .navbar-menu li{
        width: auto;
        height: var(--heightNav);
        text-align: center;
        line-height: var(--heightNav);
        background-color: unset;
        box-shadow: unset;
        border: unset
    }
    #toggle:checked + .navbar-menu li:hover{
        box-shadow: unset;
    }
    .navbar-burger{
        display: none;
    }
}

/* END MEDIA */