/* RESET */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html {
    scroll-behavior: smooth;
}

p {
    line-height: 1.1rem;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* END RESET */


/* INIT */

:root {
    /* :root{--test: pink;} body{background-color: var(--test);} */

    /* color */
    --colorText1: #031014;
    --colorText2: #071F28;
    --colorBtn1: #1A7D9F;
    --colorBtn2: #1A5C9F;
    --colorBg1: #F4F9FA;
    --colorBg2: #E2EFF3;

    /* font */
    --fontText: 'Roboto', sans-serif;
    --fontTitle: 'Nunito', sans-serif;

    /* size - nb  */
    --heightNav: 40px;
    --marginNavLR: 15px;
    --nbMenu: 2;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: var(--fontText);
    box-sizing: border-box;
    font-size: 0.9rem;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--fontTitle);
    font-weight: 500;
}

h2 {
    font-size: 1.5em;
    color: var(--colorBtn1);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    margin-bottom: 5px;
}

/* END INT */


/* NAV */

.navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    background-color: var(--colorBg2);
    box-shadow: inset 0 -3px 5px 0 rgba(0, 0, 0, 0.15),
        0 3px 4px rgba(0, 0, 0, 0.25);
    color: var(--colorBtn1);
    height: var(--heightNav);
    overflow: hidden;
    z-index: 500;
}

.navbar-title {
    margin-left: var(--marginNavLR);
    font-size: 1.2rem;
    text-transform: uppercase;
    white-space: nowrap;
}

.navbar-burger {
    margin-right: var(--marginNavLR);
    font-size: 1.2rem;
    line-height: var(--heightNav);
    position: absolute;
    right: 0;
    display: block;
    cursor: pointer;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.navbar-burger:hover {
    opacity: 0.6;
}

.navbar-menu {
    margin-right: var(--marginNavLR);
    height: 100%;
    position: relative;
    right: -100vw;
    top: -100px;
    visibility: hidden;
    opacity: 0;

    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-menu li {
    list-style: none;
    font-size: 1rem;
    font-weight: 300;
    font-family: var(--fontTitle);
    color: var(--colorBtn1);
    opacity: 0.85;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
    padding: 0 10px;

    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.navbar-menu li:hover {
    opacity: 0.9;
}

#toggle {
    display: none;
}

#toggle:checked+.navbar-menu {
    margin-right: - var(--marginNavLR);
    position: fixed;
    display: block;
    visibility: visible;
    opacity: 1;
    width: 100vw;
    top: var(--heightNav);
    left: 0;
    height: calc(var(--nbMenu) * var(--heightNav));
}

#toggle:checked+.navbar-menu li {
    height: var(--heightNav);
    text-align: center;
    line-height: var(--heightNav);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
    background-color: var(--colorBg1);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);

    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#toggle:checked+.navbar-menu li:hover {
    box-shadow: inset 0 0 5px -1px rgba(0, 0, 0, .8);
}

/* END NAV */


/* MAIN */


#main:target {
    padding-top: 55px; 
    margin-top: -40px; 
}

#main {
    padding: var(--marginNavLR) 10px;
    background-color: var(--colorBg2);
}

/* card */
.cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.cards .card {
    height: 50vw;
    border-radius: 5px;
    color: var(--colorBg1);
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.cards .card .card-img{
    position: absolute;
    width: 100%;
}
.cards .card .card-content {
    position: absolute;
    bottom: 0;
    width: 96%;
    padding: 10px 4%;
    background-color: rgba(0, 0, 0, 0.3);
}
.cards .card .card-content > * {
    margin: 5px 0;
}

.cards .card .card-content .card-content-title {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    font-size: 1.1em;
}

.cards .card .card-content .card-content-price {
    font-size: 1.1em;
    font-family: var(--fontTitle);
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.65);
}

.cards .card .card-content .card-content-seemore {
    display: block;
    position: absolute;
    right: 4%;
    bottom: 3px;
    padding: 2.5px 10px;
    background-color: var(--colorBtn1);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.20);
    border-radius: 4px;
    font-weight: 400;
    font-size: 1.2em;
    font-family: var(--fontTitle);
}
/* end card */

.linkpage {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-family: var(--fontTitle);
    color: var(--colorBtn1);
    font-weight: 600;
}
.linkpage a {
    margin: 0 4px;
    font-size: 1.4em;
    line-height: 0.9em;
}


/* END HEARDER */


/* MEDIA */

@media only screen and (min-width: 768px) {
    .navbar-menu {
        display: -webkit-box;
        display: flex;
        top: 0;
        right: 0;
        -webkit-box-align: center;
        align-items: center;
        visibility: visible;
        opacity: 1 !important;
    }

    #toggle:checked+.navbar-menu {
        position: relative;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: end;
        justify-content: flex-end;
        width: auto;
        top: 0;
        right: 0px;
    }

    #toggle:checked+.navbar-menu li {
        width: auto;
        height: var(--heightNav);
        text-align: center;
        line-height: var(--heightNav);
        background-color: unset;
        box-shadow: unset;
        border: unset
    }

    #toggle:checked+.navbar-menu li:hover {
        box-shadow: unset;
    }

    .navbar-burger {
        display: none;
    }
}

/* END MEDIA */